<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1724" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1046" Action="Warning" />
    <Rule Id="RCS1090" Action="None" />
    <Rule Id="RCS1123" Action="None" />
    <Rule Id="RCS1163" Action="None" />
    <Rule Id="RCS1194" Action="None" />
  </Rules>
</RuleSet>